.article-body{
    max-width: 500px;
    margin: 0 auto;
    /* background-color: rgb(250, 247, 247); */
    padding: 10px;
}

.article-body .opt{
    text-align: right;
}

.article-body .text_md li{
    font-size: 100%;
    margin: 0;
}