.article-body{
    max-width: 800px;
    margin: 0 auto;
    /* background-color: rgb(250, 247, 247); */
    padding: 10px;
}

.article-body .opt{
    text-align: right;
}

.article-body .text_md{
    font-size: 1.2em;
}

/* .article-body .text_md ul{
    line-height: 1em;
} */