/* nav {
    text-align: center;
}

nav ul{
    display:inline-block;
}

nav li {
    display: inline;
}

nav li a{
    display: block;
    float: left;
    padding: .5em 2em;
}

.notRight{
    border-right: .1em solid;
} */

.navbar-body{
    /* max-width: 900px;
    margin: 0 auto;
    padding: 10px; */
    margin-top: 5em;
    text-align: center;
}

.navbar-body .item-list{
    /* padding: 0;
    margin: 0;
    position: "absolute";
    top: 0;
    height: "40px";
    width: "100%"; */
    /* display: "flex"; */
    display: inline-flex;
}

.navbar-body [NavLink]{
    /* textAlign: "center"; */
    
    flex: 1;
    /* listStyleType: "none";
    padding: "10px"; */
}