.profile-body {
    max-width: 800px;
    margin: 0 auto;
}

.profile-body .avatar-body{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* .profile-body .follow-button{
    margin-right: 0;
} */