.register-body{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    /* text-align: center; */
    /* background-color: rgba(0, 0, 0, 0.15) */
    background: rgba(0, 0, 0, 0.15);
}

.register-body .main{
    position: absolute;
    background: #fff;
    top:40%;
    left: 30%;
    right: 30%;
    text-align: center;
}