.write-body{
    /* max-width: 100%; */
    margin: 0 auto;
    padding: 10px;
    
}

/* .text-area {
    display: -webkit-flex;
    display: inline-block;
} */

.write-body .input-text-area{
    /* flex: 1; */
    display: inline-block;
    /* word-wrap : break-word; */
    height: 100%;
    width: 48%;
    vertical-align: top;
}

.write-body .divider{
    display: inline-block;
    height: 100vh;
}

.write-body .input-title{
    border: none;
    outline:medium;
    /* height: 2.5em; */
    display: block;
    font-size: 1.5em;
    width: 100%;
}

.write-body .input-content{
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    /* height: 300px; */
    border: none;    /* 去掉边框 */
    outline:medium;   /* 去掉点击时候显示的边框 */
    resize: none;
    font-size: 1.2em;
}

.write-body .md-text-area {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 48%;
    font-size: 1.2em;
}

.write-body .md-content{
    display: block;

    /* 下面两行用来自动换行 */
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* .write-body .md-content ul{
    margin-top: -2.5em;
    line-height: 1em;
} */

.write-body .md-title{
    /* height: 2.1em; */
    display: block;
}

.write-body .tool-bar{
    text-align: right;
}